.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.body {
  margin-left: 10%;
}

.google {
display: flex;
justify-content: center;
margin: 30% 0;
}

.header {
  text-align: center
}