.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.body {
  margin-left: 10%;
}

.google {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 40vh;
  align-content: center;
  align-items: center; 
}

.header {
  text-align: center;
  width: 800px;
}