/* .MuiSelect-outlined.MuiSelect-outlined {
  padding-right: 125px !important;
} */
  /* 
  form{
    padding: 0 150px !important;  
  }

  .addNewForm {
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: 20px !important;
  }

  .add-new h1 {
    text-align: center
  }

  .btnAdd {
    margin: 15px 0 !important;
  } */
