/* .archive {
  position: absolute;
  top: 15%;
  left: 35vw;
} */
.archiveTableHead {
  padding: 20px;
  text-align: center;
<<<<<<< HEAD
=======
  background-color:  gray;
  
>>>>>>> 0f878637dca8e5e3cd8ba37a0d763873acc85dec
}
.MuiTableSortLabel-root {
  font-size: 1.5rem;
}
.MuiTableCell-alignLeft {
  text-align: center !important;
}
.MuiTableCell-paddingNone:last-child {
  padding: 20px !important;
}
.MuiTableCell-head {
  background-color: #000;
  color: #eeeeee !important;
}
