/* .archive {
  position: absolute;
  top: 15%;
  left: 35vw;
} */
.archiveTableHead {
  padding: 20px;
  text-align: center;
  background-color:  gray;
  
}
.MuiTableSortLabel-root {
  font-size: 1.5rem;
}
.MuiTableCell-alignLeft {
  text-align: center !important;
}
.MuiTableCell-paddingNone:last-child {
  padding: 20px !important;
}
.MuiTableCell-head {
  background-color: #000;
  color: #eeeeee !important;
}
