/* .profile {
  position: absolute;
  bottom: 75%;
  left: 45%;
} */

h1 {
  text-align: center;
}
/* 
.MuiPaper-root {
  background-color: none !important;
} */

#projects {
  width: 65% !important;
  margin: 0 auto !important;
  position: absolute;
  top: 200px;
  right: 100px;
  left: 140px;
}

.instructions {
  display: flex;
  justify-content:space-between;
}